

h1 {
    display: flex;
    justify-content: center;
}

#grid {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}